scikit-learn
pandas
langdetect
numpy
rouge_score
fire
openai==0.28.1
sentencepiece
wandb
gradio==3.9
deepspeed==0.9.2 
accelerate
tensorboardX
transformers==4.29.2
datasets==2.14.6
chardet
protobuf==3.20
langdetect
bert_score
rouge_score
spacy
rouge
evaluate
streamlit
fuzzywuzzy
git+https://github.com/google-research/bleurt.git